{% extends 'base.html.twig' %}

{% block body %}
    <a href="/date/{{ date|date_modify("-1 day")|date("Y-m-d")}}"><button> < </button></a>
    {{ date|date("Y-m-d") }}
    <a href="/date/{{ date|date_modify("+1 day")|date("Y-m-d")}}"><button> > </button></a>
    {% for student in students %}
        <div>
            <a href="/student/{{ student.id }}"> {{ student.name }} {{ student.secondname }} </a> Stan:
            {% for pre in presence %}
                {% if pre.student == student %}
                    {{ pre.status }}
                {% endif %}
            {% endfor %}
            <a href="/presence/{{student.id}}/O/{{ date|date("Y-m-d") }}"><button>Obecny</button></a>
            <a href="/presence/{{student.id}}/S/{{ date|date("Y-m-d") }}"><button>Spóźniony</button></a>
            <a href="/presence/{{student.id}}/N/{{ date|date("Y-m-d") }}"><button>Nie obecny</button></a>
        </div>
    {% endfor %}
{% endblock %}