{% extends 'base.html.twig' %}

{% block body %}
    {% for student in students %}
        <div>
            {{ student.name }} {{ student.secondname }} Stan:
            {% for pre in presence %}
                {% if pre.student == student %}
                {{ pre.status }}
                {% endif %}
            {% endfor %}
            <a href="/add/{{student.id}}/O"><button>Obecny</button></a>
            <a href="/add/{{student.id}}/S"><button>Spóźniony</button></a>
            <a href="/add/{{student.id}}/N"><button>Nie obecny</button></a>
        </div>
    {% endfor %}
{% endblock %}