{% extends 'base.html.twig' %}

{% block title %} Uczeń: {{ secondname }} {% endblock %}

{% block body %}
<h1>Uczeń: {{ name }} {{ secondname }}</h1>

    <div>
        {% for pre in presence %}
            <div>{{ pre.date|date("d/m/Y") }} {{ pre.status }}</div>
        {% endfor %}
    </div>

{% endblock %}